@import '~bootstrap/scss/bootstrap';
$purple: #522D80;
$orange: #F66733;
$light-gray: #d3d3d3;
$white-gray: #f3f3f3;
$almost-black: #16161d;

// NOTE: Hiding the switch until I can get it sorted
// @supports(--css: variables) {
//
//   [data-theme="dark"] {
//     body, html {
//       background-color: $purple;
//     }
//   }
// }

body, html {
    height: 100vh;
    background-color: $white-gray;
}

main {
  // width: 100vw;
  width: 56.25rem;
  margin: 0 auto;
}

h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 6.5rem;
  color: $white-gray;
}

h2, h3 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.link {
  text-decoration: underline;
}

p {
  font-family: "Ubuntu", sans-serif;

  // Hyphenation set below with necessary prefixes and fallbacks
  // Hyphens turned on
  // Limit word length and # of chars before & after hyphen
  // Limit # of consecutive hyphens
  // Prevent hypens on last line of paragraph
  // Set hyphenation zone to prevent over-hyphenization

  // code below sourced from http://clagnut.com/blog/2395

  // Safari
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  // Firefox
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  //IE & Edge
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  // Fallbacks
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

footer {
  border-top: 0.2rem solid $orange;
  background-color: $purple;
  height: 10rem;
  color: $white-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;

  p {
    margin: 0;
  }

  .footer-icon {
    margin: 0 1rem 0 1rem;
    color: $white-gray;

    &:hover {
      color: $orange;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

section {
  margin: 1rem 0;
}

.about-header {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.1rem;
  text-decoration: underline $purple;
  color: $orange;
}

.contact {
  text-align: center;

  &-email {
    color: $purple;
    font-weight: bold;
  }

  &-text {
    margin-top: 1rem;
  }
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;

  .icon-img {
    font-size: 5rem;
    margin: 1.5rem;
  }
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("public/cefalu.jpg");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white-gray;
  font-weight: bold;
  text-shadow:
    -0.0625rem -0.0625rem 0 $almost-black,
    0.0625rem -0.0625rem 0 $almost-black,
    -0.0625rem 0.0625rem 0 $almost-black,
    0.0625rem 0.0625rem 0 $almost-black;

  p {
    font-size: 1.125rem;
  }
}

.profile-img {
  display: block;
  width: 31.25rem;
  border: 0.1875rem solid $purple;
  border-radius: 50px;
  margin: 2rem auto;
}

.project-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;

  .projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 21.875rem;
    height: 21.875rem;
    border: 0.25rem solid $purple;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-size: cover;

    &.effect .info {
      background-color: #333333;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out;

      h3 {
        visibility: hidden;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.125rem;
        font-size: 1.5rem;
        margin: 0 1.875rem;
        text-shadow: 0 0 0.0625rem white, 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }

      p {
        visibility: hidden;
        color: #bbb;
        padding: 0.625rem 0.3125rem;
        font-style: italic;
        margin: 0 1.875rem;
        font-size: 1rem;
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
    }

    &.effect a:hover {
      text-decoration: none;

      .info {
        opacity: 1;
      }

      h3, p {
        visibility: visible;
      }
    }
  }

  .tic-tac-toe {
    background-image: url("public/tic-tac-toe.png");
  }

  .collection-builder {
    background-image: url("public/collection-builder.png");
  }

  .would-you-rather {
    background-image: url("public/would-you-rather.png");
  }

  .readers-wishlist {
    background-image: url("public/readers-wishlist.png");
  }
}

.section-head {
  color: $orange;
  text-decoration: underline;
  text-decoration-color: $purple;
  margin-top: 4rem;
}

.info-back {
  height: 21.875rem;
  width: 21.875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 830px) {
  main, .profile-img {
    width: 100%;
  }
  h1 {
    font-size: 4rem;
  }
  .icon-img {
    font-size: 4rem;
    margin: 1.25rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 830px) {
  .icon-img {
    font-size: 3rem;
    margin: 1.25rem;
  }
}
