@font-face {
  font-family: "Ubuntu";
  src: url("../public/fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../public/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Signature";
  src: url("../public/fonts/signature-regular.woff") format("woff");
  font-display: swap; }

body, html {
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
  scroll-padding-top: 6rem; }

main {
  width: 70rem;
  margin: 0 auto; }

#featured-project {
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem; }

@keyframes display {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.pic-ctn {
  position: relative;
  height: 575px;
  width: 1024px;
  margin: 0 auto; }

.pic-ctn > img {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: display 30s infinite;
  box-sizing: border-box;
  border: solid 0.175rem #522D80;
  width: 100%; }

img:nth-child(1) {
  animation-delay: 5s; }

img:nth-child(2) {
  animation-delay: 10s; }

img:nth-child(3) {
  animation-delay: 15s; }

img:nth-child(4) {
  animation-delay: 20s; }

img:nth-child(5) {
  animation-delay: 25s; }

h1, h2, h3, h4 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif; }

a, p, ul, figcaption, span {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  hyphens: auto; }

ul {
  margin-left: 0.5rem;
  padding: 0 2rem; }

hr {
  height: 3px;
  background-color: #F66733;
  border-color: #F66733; }

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: #522D80;
  z-index: 1;
  border-bottom: 0.175rem solid #F66733; }
  header .header-text {
    min-width: fit-content;
    color: #f3f3f3;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    header .header-text .header-maintext {
      font-family: "Signature", cursive;
      font-size: 2rem; }
    header .header-text .header-subtext {
      margin-left: 0.75rem; }

nav {
  display: flex;
  align-items: center;
  width: 100vw; }
  nav ul {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end; }
  nav li {
    list-style: none;
    margin-right: 2rem; }
  nav a {
    color: #f3f3f3; }
    nav a:hover {
      color: #F66733;
      text-decoration: none; }
  nav .current-page {
    color: #F66733;
    text-decoration: none; }
    nav .current-page:hover {
      filter: invert(100%); }

.headline {
  display: none; }

.featured-tech {
  justify-content: center; }

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/cefalu.jpg");
  /* Set a specific height */
  height: 65%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 0.1875rem solid #F66733;
  margin-top: 5rem; }

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3f3f3;
  font-weight: bold;
  text-shadow: -0.0625rem -0.0625rem 0 #16161d, 0.0625rem -0.0625rem 0 #16161d, -0.0625rem 0.0625rem 0 #16161d, 0.0625rem 0.0625rem 0 #16161d; }
  .hero-text p {
    font-size: 1.25rem;
    background-color: rgba(22, 22, 29, 0.75); }

.profile-img {
  display: block;
  width: 31.25rem;
  border: 0.25rem solid #522D80;
  border-radius: 3.125rem;
  margin: 2rem auto; }

section {
  margin: 1rem 0; }

.section-head {
  color: #522D80;
  text-decoration: underline;
  text-decoration-color: #F66733; }

/* ABOUT ME SECTION */
.about-header {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
  text-align: left;
  text-decoration: underline #F66733;
  color: #522D80; }

.about-paragraph {
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem; }

.link {
  text-decoration: underline;
  font-size: 1.125rem;
  color: #014cac; }
  .link:hover {
    text-decoration: none; }
  .link svg {
    width: 1.125rem;
    fill: #014cac;
    padding-bottom: 0.25rem; }
    .link svg:hover {
      fill: #0056b3; }

.reading-list li {
  margin-bottom: 0.5rem; }

/* LOGOS & ICONS SECTION */
.tech {
  margin-bottom: 0;
  margin-top: 1rem; }
  .tech:nth-of-type(1) {
    margin-top: 2rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .icons-wrapper svg, .icons-wrapper .svg {
    width: 7.5rem;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.145rem solid;
    transition: transform 500ms 250ms;
    display: grid;
    justify-items: center; }
    .icons-wrapper svg img, .icons-wrapper .svg img {
      align-self: center;
      width: 5rem;
      margin-bottom: 0.5rem; }
    .icons-wrapper svg figcaption, .icons-wrapper .svg figcaption {
      text-align: center;
      padding: 4px;
      align-self: end;
      font-size: 1rem;
      hyphens: none;
      overflow: clip; }
    .icons-wrapper svg:hover, .icons-wrapper .svg:hover {
      transform: scale(1.25); }
  .icons-wrapper .appcenter {
    border-color: #CB2E62; }
  .icons-wrapper #appcenter {
    background-color: #CB2E62;
    color: white; }
  .icons-wrapper .atom {
    border-color: #67595D; }
  .icons-wrapper #atom {
    background-color: #67595D;
    color: white; }
  .icons-wrapper .bootstrap {
    border-color: #5B4282; }
  .icons-wrapper #bootstrap {
    background-color: #5B4282;
    color: white; }
  .icons-wrapper .cloudinary {
    border-color: #3448c5; }
  .icons-wrapper #cloudinary {
    background-color: #3448c5;
    color: white; }
  .icons-wrapper .confluence {
    border-color: #0A5FD9; }
  .icons-wrapper #confluence {
    background-color: #0A5FD9;
    color: white; }
  .icons-wrapper .css3 {
    border-color: #1572B6; }
  .icons-wrapper #css3 {
    background-color: #1572B6;
    color: white; }
  .icons-wrapper .ember {
    border-color: #dd3f24; }
  .icons-wrapper #ember {
    background-color: #dd3f24;
    color: white; }
  .icons-wrapper .express {
    border-color: #333333; }
    .icons-wrapper .express img {
      background-color: #333333;
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-sizing: border-box; }
  .icons-wrapper #express {
    background-color: #333333;
    color: white; }
  .icons-wrapper .git {
    border-color: #F34F29; }
  .icons-wrapper #git {
    background-color: #F34F29;
    color: white; }
  .icons-wrapper .github {
    border-color: #24292e; }
  .icons-wrapper #github {
    background-color: #24292e;
    color: white; }
  .icons-wrapper .grunt {
    border-color: #493310; }
  .icons-wrapper #grunt {
    background-color: #493310;
    color: white; }
  .icons-wrapper .handlebars {
    border-color: #351704; }
  .icons-wrapper #handlebars {
    background-color: #351704;
    color: white; }
  .icons-wrapper .heroku {
    border-color: #6762A6; }
  .icons-wrapper #heroku {
    background-color: #6762A6;
    color: white; }
  .icons-wrapper .html5 {
    border-color: #E44D26; }
  .icons-wrapper #html5 {
    background-color: #E44D26;
    color: white; }
  .icons-wrapper .javascript {
    border-color: #F0DB4F; }
  .icons-wrapper #javascript {
    background-color: #F0DB4F;
    color: black; }
  .icons-wrapper .jira {
    border-color: #2684FF; }
  .icons-wrapper #jira {
    background-color: #2684FF;
    color: white; }
  .icons-wrapper .jquery {
    border-color: #0868AC; }
  .icons-wrapper #jquery {
    background-color: #0868AC;
    color: white; }
  .icons-wrapper .macos {
    border-color: #7D7D7D; }
  .icons-wrapper #macos {
    background-color: #7D7D7D;
    color: white; }
  .icons-wrapper .mongodb {
    border-color: #4faa41; }
  .icons-wrapper #mongodb {
    background-color: #4faa41;
    color: black; }
  .icons-wrapper .netlify {
    border-color: #21c5b7; }
  .icons-wrapper #netlify {
    background-color: #21c5b7;
    color: black; }
  .icons-wrapper .nextjs {
    border-color: #000000; }
  .icons-wrapper #nextjs {
    background-color: #000000;
    color: white; }
  .icons-wrapper .node {
    border-color: #679e63; }
  .icons-wrapper #node {
    background-color: #679e63;
    color: black; }
  .icons-wrapper .npm {
    border-color: #cb3837; }
  .icons-wrapper #npm {
    background-color: #cb3837;
    color: white; }
  .icons-wrapper .postman {
    border-color: #FF6C37; }
  .icons-wrapper #postman {
    background-color: #FF6C37;
    color: white; }
  .icons-wrapper .rails {
    border-color: #A62C46; }
  .icons-wrapper #rails {
    background-color: #A62C46;
    color: white; }
  .icons-wrapper .react {
    border-color: #61DAFB; }
  .icons-wrapper #react {
    background-color: #61DAFB;
    color: black; }
  .icons-wrapper .ruby {
    border-color: #D91404; }
  .icons-wrapper #ruby {
    background-color: #D91404;
    color: white; }
  .icons-wrapper .sass {
    border-color: #CB6699; }
  .icons-wrapper #sass {
    background-color: #CB6699;
    color: black; }
  .icons-wrapper .slack {
    border-color: #2d333a; }
  .icons-wrapper #slack {
    background-color: #2d333a;
    color: white; }
  .icons-wrapper .trello {
    border-color: #23719F; }
  .icons-wrapper #trello {
    background-color: #23719F;
    color: white; }
  .icons-wrapper .typescript {
    border-color: #007ACC; }
  .icons-wrapper #typescript {
    background-color: #007ACC;
    color: white; }
  .icons-wrapper .ubuntu-os {
    border-color: #DD4814; }
  .icons-wrapper #ubuntu-os {
    background-color: #DD4814;
    color: white; }
  .icons-wrapper .vercel {
    border-color: #000000; }
  .icons-wrapper #vercel {
    background-color: #000000;
    color: white; }
  .icons-wrapper .vscode {
    border-color: #0877B9; }
  .icons-wrapper #vscode {
    background-color: #0877B9;
    color: white; }
  .icons-wrapper .yarn {
    border-color: #0877B9; }
  .icons-wrapper #yarn {
    background-color: #2C8EBB;
    color: white; }

/* PROJECT SECTION */
.project-paragraph {
  text-align: center;
  margin: 1rem; }

.project-overview {
  display: grid;
  gap: 1rem;
  max-width: 1075px;
  margin: 0 auto; }

.project-wrapper {
  display: flex;
  box-sizing: border-box;
  border-top: 0.25rem solid #522D80;
  border-bottom: 0.25rem solid #522D80;
  border-right: 0.25rem solid #522D80;
  border-left: 0.25rem solid #522D80;
  border-radius: 0.5rem;
  background-color: #d3d3d3; }

.project-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px; }
  .project-info h4 {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #522D80;
    text-decoration: underline;
    text-decoration-color: #F66733; }
  .project-info p {
    margin-top: 0; }
  .project-info .tech-used {
    margin-bottom: 0; }

.linkout {
  margin-bottom: 1rem; }
  .linkout img {
    margin-right: 0.25rem; }

.linkout,
.logo-wrapper {
  display: flex;
  align-items: center; }

.logos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .logos img {
    height: auto;
    margin: 0 0.25rem; }
  .logos .logo-wrapper {
    margin-right: 0.25rem; }
    .logos .logo-wrapper p {
      margin: 0; }

#recipe > img,
#tolkien > img,
#collection-builder > img {
  border-left: 2px solid #522D80; }

#nature > img,
#weather > img,
#rps > img,
#readers-wishlist > img,
#tic-tac-toe > img {
  border-right: 2px solid #522D80; }

/* CONTACT INFO SECTION */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .contact-email {
    color: #522D80;
    font-weight: bold; }
  .contact-text {
    margin-top: 1.5rem; }

/* TESTIMONIAL SECTION */
#testimonial-header {
  margin-top: 6.5rem; }

.testimonial-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 2rem;
  row-gap: 1rem; }

.testimonial {
  border-radius: 0.5rem 0.5rem 0 0;
  background: linear-gradient(178deg, #F66733, rgba(246, 103, 51, 0) 10%); }

blockquote {
  margin: 0;
  font-style: italic; }

.wide {
  grid-column-start: 1;
  grid-column-end: 3; }

.quote {
  padding-left: 1rem;
  padding-right: 1rem; }

.quote-cite {
  background-color: #522D80;
  color: #f3f3f3;
  border-top: 0.2rem solid #F66733;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  margin-bottom: 0;
  border-radius: 0 0 0.5rem 0.5rem; }

/* FOOTER */
footer {
  border-top: 0.2rem solid #F66733;
  background-color: #522D80;
  height: 10rem;
  color: #f3f3f3;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .footer-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  footer .footer-text {
    margin: 0 0 0 1rem; }
  footer .footer-icon {
    margin-right: 1rem;
    color: #f3f3f3; }
  footer svg {
    width: 2rem;
    fill: #f3f3f3; }
  footer .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .footer-link a {
      color: #f3f3f3; }
      footer .footer-link a:hover {
        color: #F66733; }

/* MEDIA QUERIES */
@media only screen and (max-width: 71rem) {
  main {
    width: 53.125rem; }
  .project-overview .project-screenshot {
    max-width: 50%;
    height: max-content; }
  .project-overview h4 {
    margin-bottom: 1rem; }
  .project-overview .project-info {
    margin: 0 1rem; }
    .project-overview .project-info img {
      width: 24px; }
    .project-overview .project-info .linkout-wrapper {
      display: flex;
      justify-content: space-evenly; } }

@media only screen and (max-width: 54.6875rem) {
  main {
    width: 100%; }
  p, ul, .link {
    font-size: 1rem; }
  .headline {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .headline .signature {
      font-family: "Signature", cursive;
      font-size: 6rem;
      margin: 0;
      color: #522D80; }
    .headline p {
      margin-top: 0; }
  #featured-project {
    margin-top: 0; }
  .section-head {
    margin-top: 3rem; }
  .profile-img {
    max-width: 28.125rem;
    height: auto; }
  .project-overview {
    margin: 0 1rem; }
    .project-overview .project-screenshot {
      width: 375px; } }

@media only screen and (max-width: 49.375rem) {
  .active-projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  .project-overview .project-wrapper {
    flex-direction: column; }
  .project-overview .project-info {
    order: 2; }
  .project-overview .project-screenshot {
    max-width: 100%;
    width: 100%; }
  .project-overview #recipe > img,
  .project-overview #tolkien > img,
  .project-overview #collection-builder > img {
    border-left: none;
    border-bottom: 2px solid #522D80;
    order: 1; }
  .project-overview #nature > img,
  .project-overview #weather > img,
  .project-overview #rps > img,
  .project-overview #readers-wishlist > img,
  .project-overview #tic-tac-toe > img {
    border-right: none;
    border-bottom: 2px solid #522D80; }
  .project-overview .logos {
    margin-bottom: 0.5rem; }
  .retired .project-wrapper {
    flex-direction: row; }
  .retired #readers-wishlist > img,
  .retired #collection-builder > img,
  .retired #tic-tac-toe > img {
    border-right: 2px solid #522D80;
    border-bottom: none; }
  .retired .project-info .linkout-wrapper {
    flex-direction: column; }
    .retired .project-info .linkout-wrapper .linkout {
      margin-bottom: 0.5rem; }
  .retired .project-info .tech-used {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; } }

@media only screen and (max-width: 48rem) {
  main {
    width: 100vw; }
  .header-subtext {
    display: none; }
  .icons-wrapper .svg {
    margin: 0.5rem; } }

@media only screen and (max-width: 45.9375rem) {
  .retired-screenshot {
    display: none; } }

@media only screen and (max-width: 35.9375rem) {
  header .header-text {
    display: none; }
  .headline .signature {
    font-size: 4rem; }
  .headline p {
    margin-top: 0; }
  .testimonial-section {
    display: flex;
    flex-direction: column;
    margin: 0 1rem; } }

@media only screen and (max-width: 34.375rem) {
  header .header-text .header-maintext {
    font-size: 1.75rem; }
  ul {
    margin-left: 0; }
  .pic-ctn {
    width: 355px;
    margin: 0 auto;
    height: 200px; } }

@media only screen and (max-width: 31.25rem) {
  nav ul {
    justify-content: space-evenly;
    margin: 0;
    padding: 0; }
  nav li {
    margin: 0; } }

@media only screen and (max-width: 31.25rem) {
  html {
    scroll-padding-top: 4rem; }
  header {
    height: 3rem; }
    header .header-text {
      display: none; }
  .headline {
    margin-top: 4rem; }
  .hero-image {
    margin-top: 3rem; }
  .profile-img {
    max-width: 21.875rem; }
  .icons-wrapper .svg {
    width: 5.5rem; }
    .icons-wrapper .svg figcaption {
      font-size: 0.875rem; }
  p, ul {
    font-size: 1rem; }
  ul {
    padding-right: 1rem;
    margin-left: 0.5rem; }
  .link {
    font-size: 1rem; } }

@media only screen and (max-width: 29.6875rem) {
  h2 {
    font-size: 1.6rem; }
  .project-overview .project-info .linkout-wrapper {
    flex-direction: column; }
    .project-overview .project-info .linkout-wrapper .linkout {
      margin-bottom: 0.5rem; }
  .project-overview .project-info .tech-used {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .logos {
    max-width: 350px; } }

@media only screen and (max-width: 450px) {
  .headline .signature {
    font-size: 3.5rem; } }
